  /* Reset some default styles */
  body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-family);
    font-size: var(--font-size-homepage);
    line-height: 1.6;
    color: var(--very-dark-blue-text);
  }
  
  h1, h2, h3 {
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.8rem;
  }
  
  p {
    font-size: var(--font-size-homepage);
  }
  
  /* For detail page */
  .detail-page {
    font-size: var(--font-size-detail-page);
  }
  
  /* Other styling using variables */
  input {
    background-color: var(--dark-gray-input);
  }
  

  .light{
    background-color: #fff;
    color: #000;
  }
  
  .dark{
    background-color: #2b3945;
    color: #fff;
  }